<div class="mainform">
  <app-tuto
    label="Bienvenue dans la console statistiques. De nombreux rapports sont disponibles et fournissent des statisiques de l'école en temps réel">
  </app-tuto>

  <br>
  <mat-form-field class="app-field" style="font-size: medium">
    <mat-label>Rapports statistiques disponibles</mat-label>
    <mat-select [(ngModel)]="sel_report">
      <mat-option *ngFor="let report of reports" [value]="report.url">{{report.title}}</mat-option>
    </mat-select>
    <mat-hint>Sélectionner le rapport que vous souhaitez consulter</mat-hint>
  </mat-form-field>
  <br>


  <div *ngIf="sel_report=='building'">
    <br><br>
    Rapport en cours de construction
  </div>


  <button mat-button mat-raised-button
          class="app-button"
          *ngIf="sel_report?.length>0 && sel_report!='building'"
          (click)="openStats()">
    Ouvrir le rapport
  </button>
  <br>

  <br>


  <table style="display:inline-block;text-align: center;font-size: small;padding: 5px;" class="mat-elevation-z8">
    <tr style="max-width:1000px;width: 90%;">
      <th style="width:50%">Procédure</th>
      <th>Commande</th>
    </tr>
    <tr>
      <td>Importer les données au format CSV</td>
      <td>
        <button mat-button mat-raised-button
          class="app-button"
          (click)="openCSV()">
            Données CSV
        </button>
      </td>
    </tr>
    <tr>
      <td>Utiliser un lien pour votre reporting</td>
      <td>
        <small>{{domain_server}}/api/export_all/</small><br>
        <small>{{domain_server}}/api/export_all/xml/</small>
      </td>
    </tr>

    <tr>
      <td>Télécharger le fichier Excel connecter</td>
      <td>
        <button mat-button mat-raised-button
          class="app-button"
          (click)="downloadExcel()">
            Reporting
        </button>
      </td>
    </tr>
  </table>



  <br>




  <div *ngIf="showGraphQL">
    <app-tuto label="Grâce aux langages GraphQL vous pouvez interroger la base des anciens éleves"></app-tuto>

    <textarea
      [rows]="10"
      style="margin:2%;width: 95%;background-color: lightgray;"
      placeholder="Votre requête ici"  [(ngModel)]="query">
    </textarea>
  </div>


  <div class="bottom-bar">
    <hr>

    <button mat-button mat-raised-button
            *ngIf="config.query_cache?.length>0"
            title="Exporter le résultat de votre dernière recherche"
            class="app-button"
            (click)="export_stats()">
      Export
    </button>


    <button mat-button mat-raised-button
            class="app-button"
            (click)="showGraphQL=true">
      GraphQL
    </button>

    &nbsp;

    <button mat-button mat-raised-button
            class="app-button"
            (click)="_location.back()">
      Retour
    </button>
  </div>

</div>
