<mat-card [ngStyle]="{'backgroundColor':backgroundColor,'text-align':'left','min-width':'350px'}">
  <mat-card-header>
    <div mat-card-avatar>
      <img src="/assets/img/movie.png" class="icon-profil">
    </div>
    <mat-card-title>{{work?.pow?.title}} ({{work?.pow?.year}})</mat-card-title>
    <mat-card-subtitle >
      <div *ngIf="work.dtStart && work.dtEnd">
      {{work.job}} du {{work.dtStart | date:'dd/MM'}}
      au
      {{work.dtStart | date:'dd/MM/yy'}}
      </div>

      <div *ngIf="!work.dtStart || !work.dtEnd">
        <small>{{work.job}}</small>
      </div>
    </mat-card-subtitle>

  </mat-card-header>

  <mat-card-content [ngStyle]="{margin: '0px',height:height}">

    <ng-content></ng-content>

  </mat-card-content>

  <mat-card-actions *ngIf="showAction"
                    style="text-align: left;">

    <button mat-button mat-icon-button
            *ngIf="work?.pow?.links?.length>0"
            (click)="openInfo(work.pow.links[0])"
            [title]="work?.pow.links[0].text">
      <mat-icon>info</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>

