<div style="margin:1%;text-align: center;min-width: 300px;">

  <app-tuto icon_button="login"
            (click)="router.navigate(['login'])"
            label="Connectez vous pour avoir accès à plus d'information sur les profils">
  </app-tuto>

  <app-tuto [delay]="10" label="Vous pouvez également consulter la liste des réalisations de la FEMIS, via le menu latéral"></app-tuto>

  <mat-form-field appearance="legacy" style="max-width:600px;width:96%;font-size: x-large;" autofocus>
    <mat-label>Rechercher un profil</mat-label>
      <input matInput matNativeControl
             title="Un ou plusieurs mots pour effectuer des recherches dans les métiers, les noms, les réalisations ..."
             (keyup)="onQuery($event)"
             placeholder="nom, métier, promotion ou titre d'une réalisation" [(ngModel)]="query.value">
      <mat-icon *ngIf="query.value?.length>0"
                matSuffix style="cursor: pointer"
                (click)="clearQuery()">cancel</mat-icon>
    </mat-form-field>

  <div *ngIf="config.hasPerm('advanced_search')">
<!--       <mat-checkbox [checked]="searchInTitle">-->
<!--          Chercher uniquement via les titres-->
<!--        </mat-checkbox>-->
    </div>

    <div *ngIf="config.hasPerm('stats')">
      <br>
      <button mat-button mat-raised-button
              class="app-button"
              (click)="export_result()">
        Exporter
      </button>
      <button mat-button mat-raised-button
              class="app-button"
              (click)="openStats()">
        <div class="bloc-bouton">Console<br>statistiques</div>
      </button>
    </div>

</div>


<div class="div-center">
  <app-hourglass [message]="message"></app-hourglass>
</div>

<span *ngIf="profils?.length==0 && message.length==0">Aucun profil ne correspond à cette recherche</span>

<div class="wrap-list" *ngIf="message.length==0 && config.ready">
  <app-profil
              *ngFor="let profil of profils"
              (delete)="deleteProfil(profil)"
              [writeAccess]="config.user && config.user.profil==profil?.id"
              class="app-card" [profil]="profil">

    <div *ngIf="config.hasPerm('r_department')"
         style="margin-top:20px;margin-bottom:20px;width: 100%;text-align: center;font-size: large">
      {{profil?.department}}
    </div>

  </app-profil>
</div>
