<div class="mainform">
  <div class="h-zone">Expériences de {{name}}</div>
  <app-hourglass [message]="message"></app-hourglass>

   <mat-form-field appearance="fill" class="app-field">
      <mat-label>Filtrer par nature</mat-label>
      <mat-select *ngIf="works?.length>8 && categories?.length>1"  [(ngModel)]="cat_filter">
        <mat-option *ngFor="let cat of categories" [value]="cat">{{cat}}</mat-option>
      </mat-select>
   </mat-form-field>


  <div class="wrap-list" *ngIf="cat_filter">
    <div *ngFor="let wrk of works | filter:['filter',cat_filter]" style="max-width: 400px;margin:1%;">
      <app-work [work]="wrk" height="250px" [showAction]="true">
        <div style="display: flex;font-size: small;margin: 0px;">
          <div *ngIf="wrk.pow.visual?.length>0" style="flex: 40%">
             <img [src]="wrk.pow.visual"
                   class="image-photo"
                   style="width: 80px;margin:0px;padding: 0px;"
              >
          </div>
          <div style="flex: 55%;height:80%;overflow: hidden;line-height: 95%;">
            {{wrk.pow.short_desc}}<br><br>
            Budget: {{wrk.pow.budget}}
          </div>
        </div>

        <small>{{wrk.comment}}</small>
      </app-work>
    </div>
  </div>
</div>
