<div class="mainform">
  <div class="h-zone">Réalisations</div>
  <div class="wrap-list">
    <div *ngFor="let wrk of works" style="max-width: 400px;margin:1%;">
      <app-work [work]="wrk" height="230px" [showAction]="true">
        <div style="display: flex;font-size: small;">
          <div *ngIf="wrk.pow.visual?.length>0" style="flex: 40%">
             <img [src]="wrk.pow.visual"
                   class="image-photo"
                   style="width: 100px;"
              >
          </div>
          <div style="flex: 55%;height:80%;overflow: hidden;line-height: 95%;">
            {{wrk.pow.short_desc}}<br><br>
            Budget: {{wrk.pow.budget}}
          </div>
        </div>

        <small>{{wrk.comment}}</small>

      </app-work>
    </div>
  </div>


<br>
<div class="bottom-bar">
  <hr>
<button mat-raised-button mat-button (click)="_location.back()">
  Retour
</button>
</div>


</div>
