<div class="mainform">
  <br>
  <app-profil [profil]="profil" [showAction]="false" width="90vw" style="display: inline-block">

    <table>
      <tr *ngIf="config.hasPerm('r_address r_cp') && profil?.address?.length>0">
        <td>
          Adresse postale:
        </td>
        <td>{{profil?.address}} {{profil?.cp}}</td>
      </tr>
      <tr *ngIf="config.hasPerm('r_mobile') && profil?.mobile?.length>4">
        <td>Mobile: </td>
        <td>{{profil?.mobile}}</td>
      </tr>
    </table>


  <br>
  <mat-form-field appearance="fill"
                  *ngIf="config.hasPerm('write_email')"
                  style="width:100%;">
    <mat-label>Votre message pour {{profil?.firstname}}</mat-label>
    <textarea matInput
              [rows]="10"
              [(ngModel)]="text">
    </textarea>
  </mat-form-field>
  <br>

  <div>
    <button mat-button mat-raised-button
            class="app-button"
            [disabled]="!text || text?.length==0"
            *ngIf="config.hasPerm('write_email')"
            (click)="send()">
      Envoyer
   </button>

    <button mat-button mat-raised-button
            *ngFor="let button of buttons"
            class="app-button"
            (click)="open_social(button.url)">
      {{button.caption}}
   </button>



  </div>


</app-profil>

</div>
