<div class="mainform" style="font-weight: lighter;">
  <br>
  <h2>Vous souhaitez accéder à plus d'information sur les élèves</h2>
  <br>

  <mat-accordion [multi]="false" style="text-align: left;">
  <mat-expansion-panel name="tabProfils" *ngFor="let profil of config.profils | filter:['email','online']" class="app-panel" style="margin:10px;">
    <mat-expansion-panel-header>
      <mat-panel-title class="app-mat-panel-title">{{profil.title}}</mat-panel-title>
    </mat-expansion-panel-header>

    <p>{{profil.presentation}}</p>

    <div *ngIf="this.perms" style="font-size: small;text-align: left;">
      Vous avez accès:
      {{detailPerm(profil.perm)}}
      <br>
    </div>

    <div *ngIf="profil.price>0">
      <br><br>
      Prix:{{profil.price}}€/mois
    </div>


    <mat-action-row>
      <button mat-button mat-raised-button
              name="cmdAskProfil"
              class="app-button"
          (click)="sel_profil(profil)">

          <span *ngIf="profil.subscription=='online'">Souscrire</span>
          <span *ngIf="profil.subscription=='email'">Demander</span>

        </button>

    </mat-action-row>

  </mat-expansion-panel>

  </mat-accordion>


  <br>

  <div *ngIf="showPerm">
    <br>
    Actuellement vous avez accès :
    <br><small>{{detailPerm(config.user.perm)}}</small>
    <br><br>
  </div>


  <div class="bottom-bar">
    <hr>
     <button mat-button mat-raised-button
          class="app-button" id="cmdShowPerms"
          (click)="showPerm=true">
          Voir vos permissions
    </button>
  </div>
</div>

